<span class="m-custom-select">
    <!-- DROP DOWN MODE -->
    <span class="m-custom-select-dropdown" ng-if="mode == 0">
        <span class="m-custom-select-dropdown-align" ng-click="toggleMenu()">{{getSelectedItemText()}}</span>
        <span class="m-custom-select-dropdown-container" ng-show="showMenu" ng-style="dropStyle" >
            <span class="m-custom-select-dropdown-container-arrow"></span>
            <ul style="overflow: auto; max-height: 400px;">
                <li ng-repeat="item in items" ng-click="onItemClicked(item)" ng-class="{'is-selected' : item.selected}" ng-class="item.class">{{item.text}}<span class="m-custom-select-dropdown-right">{{item.displayRight}}</span></li>
            </ul>
        </span>
    </span>

    <!-- QUICK SWITCH MODE -->
    <span class="m-custom-select-dropdown-quickswitch" ng-if="mode == 1">
        <span ng-repeat="item in items" ng-click="onItemClicked(item)" ng-class="{'is-selected' : item.selected}">{{item.text}}</span>
    </span>
</span>