<div ng-if="false">
    <header class="cleaner padding-bottom">
        <a class="button button-border button-green button-icon icon-save float-right" href="">Save version</a>
        <h1 class="h1-height-button">Data Table</h1>
    </header>

    <div op-filter options="filterOptions"></div>

    <br />
    <br />



    <table op-table table="table"></table>



    <table class="" ng-if="false">
        <tbody>
            <tr class="table-row-title">
                <td class="table-cell-title text-align-center"></td>
                <td class="table-cell-title text-align-center">Price Type</td>
                <td class="table-cell-title text-align-center">Jan 15</td>
                <td class="table-cell-title text-align-center">Fab 15</td>
                <td class="table-cell-title text-align-center">Mar 15</td>
                <td class="table-cell-title text-align-center">Apr 15</td>
                <td class="table-cell-title text-align-center">May 15</td>
                <td class="table-cell-title text-align-center">Juin 15</td>
                <td class="table-cell-title text-align-center">Juil 15</td>
            </tr>
            <tr class="table-row-title">
                <td class="table-cell-title">Europe</td>
                <td>EXF - WHO (OP)</td>
                <td op-cell></td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
            </tr>
            <tr>
                <td>Belgium</td>
                <td>EXF - WHO (OP)</td>
                <td class="table-puce table-puce-red1">1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
            </tr>
            <tr>
                <td>France</td>
                <td>EXF - WHO (OP)</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td class="table-bg-green2">1.7756</td>
            </tr>
            <tr>
                <td>Germany</td>
                <td>EXF - WHO (OP)</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td class="table-puce table-puce-green3">1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
            </tr>
            <tr>
                <td>Italy</td>
                <td>EXF - WHO (OP)</td>
                <td class="table-bg-red1">1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td class="text-align-center"><span class="table-help">?</span></td>
            </tr>
            <tr>
                <td>UK</td>
                <td>EXF - WHO (OP)</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td class="table-bg-green1">1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
            </tr>
            <tr class="table-row-title">
                <td class="table-cell-title">Americas</td>
                <td>EXF - WHO (OP)</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
            </tr>
            <tr>
                <td>Brazil</td>
                <td>EXF - WHO (OP)</td>
                <td class="table-bg-red2">1.7756</td>
                <td>1.7756</td>
                <td class="text-align-center"><span class="table-help">?</span></td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
            </tr>
            <tr>
                <td>Mexico</td>
                <td>EXF - WHO (OP)</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td class="text-align-center"><span class="table-help">?</span></td>
                <td>1.7756</td>
                <td>1.7756</td>
            </tr>
            <tr>
                <td>USA</td>
                <td>EXF - WHO (OP)</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td class="table-bg-red3">1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
            </tr>
        </tbody>
    </table>

    <table class="" ng-if="false">
        <tbody>
            <tr class="table-row-title">
                <td class="table-cell-title text-align-center"></td>
                <td class="table-cell-title text-align-center">Price Type</td>
                <td class="table-cell-title text-align-center">Jan 15</td>
                <td class="table-cell-title text-align-center">Fab 15</td>
                <td class="table-cell-title text-align-center">Mar 15</td>
                <td class="table-cell-title text-align-center">Apr 15</td>
                <td class="table-cell-title text-align-center">May 15</td>
                <td class="table-cell-title text-align-center">Juin 15</td>
                <td class="table-cell-title text-align-center">Juil 15</td>
                <td class="table-cell-title text-align-center">Aug 15</td>
                <td class="table-cell-title text-align-center">Sept 15</td>
                <td class="table-cell-title text-align-center">Oct 15</td>
                <td class="table-cell-title text-align-center">Nov 15</td>
                <td class="table-cell-title text-align-center">Dec 15</td>
            </tr>
        </tbody>
        <thead>
            <tr class="table-row-title">
                <td class="table-cell-title">Europe</td>
                <td>EXF - WHO (OP)</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Belgium</td>
                <td>EXF - WHO (OP)</td>
                <td class="table-puce table-puce-red1">1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
            </tr>
            <tr>
                <td>France</td>
                <td>EXF - WHO (OP)</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td class="table-bg-green2">1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
            </tr>
            <tr>
                <td>Germany</td>
                <td>EXF - WHO (OP)</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td class="table-puce table-puce-green3">1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
            </tr>
            <tr>
                <td>Italy</td>
                <td>EXF - WHO (OP)</td>
                <td class="table-bg-red1">1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td class="text-align-center"><span class="table-help">?</span></td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
            </tr>
            <tr>
                <td>UK</td>
                <td>EXF - WHO (OP)</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td class="table-bg-green1">1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
            </tr>

            <tr class="table-row-title">
                <td class="table-cell-title">Americas</td>
                <td>EXF - WHO (OP)</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
            </tr>
            <tr>
                <td>Brazil</td>
                <td>EXF - WHO (OP)</td>
                <td class="table-bg-red2">1.7756</td>
                <td>1.7756</td>
                <td class="text-align-center"><span class="table-help">?</span></td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
            </tr>
            <tr>
                <td>Mexico</td>
                <td>EXF - WHO (OP)</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td class="text-align-center"><span class="table-help">?</span></td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
            </tr>
            <tr>
                <td>USA</td>
                <td>EXF - WHO (OP)</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td class="table-bg-red3">1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
                <td>1.7756</td>
            </tr>
        </tbody>
    </table>

</div>