@using PriceCare.Web.Models
@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password Confirmation";
    ViewBag.BodyClass = "login";
}

<header id="mainHeader">
    <h1>@ViewBag.Title</h1>
</header>

<section class="m-login cleaner">
    <!-- Left Panel -->
    <div class="m-login-description">
        @Html.Action("GetLeftPanel", "Account")
    </div>
    
    <!-- Right Panel -->
    <div class="m-login-form">
        <h3>Forgot password confirmation</h3>
        Please check your email to reset your password.
    </div>    
</section>
