
/* checkbox */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left:0; top: 2px;
        width: 17px; height: 17px;
        border: 1px solid #aaa;
        background: #f8f8f8;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
        //content: 'âœ”';
        content: '\2714'; /* âœ” */
        font-family: sans-serif;
        position: absolute;
        top: 0; 
        left: 0;
        font-size: 14px;
        color: #37485b;
        width: 20px;
        height: 20px;
        line-height: 24px;
        text-align: center;
        -webkit-transition: all .1s;
        -moz-transition: all .1s;
        -ms-transition: all .1s;
        transition: all .1s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
}
[type="checkbox"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
        color: #999;
}
[type="checkbox"]:disabled + label {
        color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
        border: 1px solid #37485b;
}