.m-number-circle{
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    margin-right: 0.75em;
    line-height: 2.4em;
    text-align: center;

    margin-left: -2em;

    @include border-radius(100%);
}