.m-selection-tree-title{
    clear: both;
    font-weight: bold;
    padding: 1.5em 0;
}

.m-selection-tree-content{
    width: 12.5em;
    float: left;
    padding: 0 1.5em 1em 0;
}

.m-selection-tree-title label, .m-selection-tree-content label{
    padding-left: 0.5em;
    cursor: pointer;
}