.m-table-border-top{
    border-top: 2px double !important;
}

.m-table-border-bottom{
    border-bottom: 2px double !important;
}

.m-table-border-top{
    border-top: 2px double !important;
}

.m-table-border-left{
    border-left: 2px double !important;
}

.m-table-border-right{
    border-right: 2px double !important;
}


.m-table-border-right.color-red{
    border-right: red;
}