.modal{
    z-index: 5000;
    position: fixed;
    top: 2em;
    background: #fafbfc;
    padding: 60px;
    width: 600px;
    
    left: 50%;
    margin-left: -300px;

    input[type="text"], textarea, .m-custom-select-dropdown-align, .m-custom-select-dropdown{
        width: 100%;
    }

    textarea{
        height: 6em;
    }

    

    .m-form-display-inline .m-custom-select-dropdown{
        width: 104% !important;
    }
}

.modal-backdrop {
    background-color: #000000;
    opacity: 0.42;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 4999;
}

.modal{
     .close{
        display: block;
        width: 18px;
        height: 18px;
        text-indent: -100000px;
    
        background: url('../images/design/close_modal.png') no-repeat;
    
        position: absolute;
    
        top: 15px;
        right: 15px;
    }

     h1{
        color: #37485b;
    }

    > header{
        position: relative;
        margin-bottom: 20px;
        border-bottom: 2px #2f3d4d solid;

        h1{
            font-weight: lighter;
            font-size: 36px;
        }
    }

    label{
        color: #37485B;
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        clear: both;
    }

    h2{
        font-size: 1.2em;
        padding: 0.8em 0;
    }

    .position-close-popup{
        position: absolute;
        top: 0.7em;
        right: 0.5em;
        overflow: hidden;
        width: 1.25em;
        height: 1.25em;
    }

    .position-close-popup:before{
        width: 1.25em;
        height: 1.25em;
    }
}

.modal-support{
    width: 1000px;
    margin-left: -500px;
}

.modal-body:after{
    content: '';
    display: block;
    height: 1px;
    clear: both;
}

.modal-body-text{
    float: left;
    width: 50%;
    border-right: 1px solid;

    padding: 0 4em 0 2em;
}

.modal-body-form{
    float: left;
    width: 50%;

    padding: 0 2em 0 4em;
}

