<a data-ng-click="invite()" href="" class="button button-blue float-right margin-left">Add new user</a>
<a data-ng-click="invite()" href="" class="button button-border button-icon icon-save button-blue float-right margin-left">Add new user</a>
<a href="#/admin/users/create" class="button button-icon button-icon-only icon-save button-green margin-left float-right margin-left tooltip" title="Lalala" title-tooltip="Add new user">&nbsp;</a> 

<a href="" class="button button-icon tooltip" title-tooltip="test 123">Test</a>