<header class="cleaner padding-bottom">
    <a class="button button-border button-green button-icon icon-save float-right margin-left" href="" ng-class="{'is-disabled': !canSave}" ng-click="saveVersion()">Save version</a>
    <a class="button button-icon button-icon-only icon-add button-blue margin-left float-right margin-left tooltip" title-tooltip="Add synonym" ng-click="addSynonym()">&nbsp;</a>  
    <h1 class="h1-height-button">Load: Dimension Dictionary</h1>
</header>

<div data-op-filter data-options="filterOptions"></div>

<br />
<br />

<table data-op-table data-table="table"></table>