.notification{
    background: $color-main-light;
    border-color: $color-main-border-light;
}

.notification-alert{
    background: $color-blue;
    border-color: get-contrast-color($color-blue, $variation-color-notification);
    color: $color-white;
}

.notification-error{
    background: $color-red;
    border-color: get-contrast-color($color-red, $variation-color-notification);
    color: $color-white;
}

.notification-warning{
    background: $color-orange;
    border-color: get-contrast-color($color-orange, $variation-color-notification);
    color: $color-white;
}

.notification-success{
    background: $color-green;
    border-color: get-contrast-color($color-green, $variation-color-notification);
    color: $color-white;
}
.notification-information{
    background: $color-main;
    border-color: get-contrast-color($color-main, $variation-color-notification);
    color: $color-white;

    a{
        color: $color-white;
    }
}