<header class="cleaner padding-bottom">
    <a ng-if="!validate" class="button button-border button-green button-icon icon-save float-right" ng-show="firstVersionSelected()" href="" ng-class="{'is-disabled': !canSave}" data-ng-click="saveVersion()">Save version</a>
    <a ng-if="validate" class="button button-border button-icon icon-save float-right tooltip" ng-show="firstVersionSelected()" href=""
       title-tooltip="cells: {{cellsToValidateSmartResolution1 + cellsToValidateSmartResolution2}}"
       ng-class="{'is-disabled': !canSave, 'button-green' : (cellsToValidateSmartResolution1 + cellsToValidateSmartResolution2) == 0, 'button-orange' : (cellsToValidateSmartResolution1 + cellsToValidateSmartResolution2) > 0}" data-ng-click="saveVersion()">Save version</a>
    <a class="button float-right" ng-show="validate" style="margin-right: 10px;" href="/#/data/load/{{loadId}}">Back</a>
    <h1 class="h1-height-button">Data: Prices</h1>
</header>

<div data-op-filter data-options="filterOptions"></div>
<br />

<div op-smart-resolution ng-if="validate" options="smartResolutionOptions"></div>
<div op-smart-resolution ng-if="validate" options="smartDeleteResolutionOptions"></div>

<table data-op-table data-table="table"></table>

<div class="notification notification-warning" ng-if="!table && showBadFilter">
    Sorry there are no results to display. Please broaden your filter parameters.
</div>