<div op-filter options="filterOptions"></div>
<table>
    <tr>
        <td>Old password:</td>
        <td>
            <input type="password" style="width:300px;" ng-model="oldPassword" ng-class="{error: !isValidOldPassword}" ng-enter="submit()" />
            <span ng-hide="isValidOldPassword" class="field-validation-error">{{errorOldPassword}}</span>
        </td>
    </tr>
    <tr>
        <td>New password:</td>
        <td>
            <input type="password" style="width:300px;" ng-model="newPassword" ng-class="{error: !isValidNewPassword}" ng-enter="submit()" />
            <span ng-hide="isValidNewPassword" class="field-validation-error">{{errorNewPassword}}</span>
        </td>
    </tr>
    <tr>
        <td>Confirm password:</td>
        <td>
            <input type="password" style="width:300px;" ng-model="confirmPassword" ng-class="{error: !isValidConfirmPassword}" ng-enter="submit()" />
            <span ng-hide="isValidConfirmPassword" class="field-validation-error">{{errorConfirmPassword}}</span>
        </td>
    </tr>
</table>

<header class="cleaner padding-bottom">   
    <button class="button button-border button-green button-icon icon-save float-right" ng-click="submit()">Confirm</button>
    <button class="button button-border button-blue button-icon icon-cancel float-right" ng-click="cancel()">Cancel</button>
</header>
