<a href="" class="icon-before icon-delete position-close-popup" ng-click="cancel()">Close</a>
<div class="modal-header">
    <h3>Add new country</h3>
</div>
<br />
<div class="modal-body">
    <table>
        <tr>
            <td>Country:</td>
            <td><span class="m-filter-control-displayoptions-option m-filter-control-full-width" op-field options="fieldOptions"></span></td>
        </tr>
    </table>

</div>
<br />

<div class="cleaner padding-bottom">
    <a class="button button-red float-right margin-left" href="" ng-click="cancel()">Cancel</a>
    <a class="button button-green float-right margin-left" href="" ng-click="ok()">Save</a>
</div>

