<div class="modal-header">
    <h3>Add invitation</h3>
</div>
<div class="modal-body">
    <br/>
    <div>
        <div class="m-login-label">
            <label>Email:</label>
            <span class="field-validation-error" ng-hide="isRequiredEmail">The mail is required</span>
            <span class="field-validation-error" ng-hide="isValidEmail">This is not an email</span>
            <span class="field-validation-error" ng-hide="isUniqueEmail">The mail is already taken, please choose an other one</span> <br />
        </div>
        <input type="text" name="email" ng-model="invitation.email" ng-class="{'field-validation-error': !isRequiredEmail || !isUniqueEmail || !isValidEmail}" />
    </div>
    <br/>
    <div>
        <div class="m-login-label">
            <label>Roles:</label>
            <span class="field-validation-error" ng-hide="isValidRole">Please choose at least one role</span>
        </div>
        <br/>
        <div class="form-group form-inline" ng-repeat="role in roles">
            <input id="roleName-{{$index}}" type="checkbox" ng-model="rolesSelected[$index]" ng-change="selectRole(role, $index)" />
            <label for="roleName-{{$index}}">{{role.name}}</label>
        </div>
    </div>
   
    <br/>
</div>

<div class="cleaner padding-bottom">
    <a class="button button-red float-right margin-left" href="" ng-click="cancel()">Cancel</a>
    <a class="button button-green float-right margin-left" href="" ng-click="ok()">Save</a>
</div>
