<a href="" class="icon-before icon-delete position-close-popup" ng-click="cancel()">Close</a>
<div class="modal-body">
    <div class="modal-body-text">
        <h2>How do I edit a cell?</h2>
        <p>
            
        </p>

        <h2>How do I load new values?</h2>
        <p>
            
        </p>

        <h2>How do I connect prices with excel?</h2>
        <p>
            
        </p>
    </div>
    <div class="modal-body-form">
        <h2>Support requests</h2>
        <p>To raise a support ticket, please let us know more about your problem.</p>    
        <div>
            <p>Describe the problem</p>
            <textarea required=""></textarea>
        </div>
        <div>
            <p>Send a screenshot (optional)</p>
            <input type="file"/>
        </div>
        <br /><br />
        <a class="button button-border button-blue button-icon icon-mail" ng-click="submit()" href="#">Send</a>
    </div>
</div>

<div class="modal-footer">
    <!--<input type="button" value="Send" ng-click="submit()" />-->    
</div>
