<header class="cleaner padding-bottom">
    <a ng-if="!validate" class="button button-border button-green button-icon icon-save margin-left float-right" ng-click="save()" ng-class="{'is-disabled': !canSave}">Save</a>
    <a ng-if="validate" class="button button-border button-icon icon-save margin-left float-right tooltip" title-tooltip="cells: {{cellsToValidate}}" ng-click="save()" ng-class="{'is-disabled' : !canSave, 'button-orange' : cellsToValidate>0, 'button-green' : cellsToValidate==0}">Save</a>
    <a class="button button-icon button-icon-only icon-add button-blue margin-left float-right margin-left tooltip" title-tooltip="Add new" ng-click="addNew()">&nbsp;</a> 
    <a class="button float-right" ng-show="validate" href="/#/data/load/{{loadId}}">Back</a>
    <h1 class="h1-height-button">Dimensions: Price types</h1>
</header>

<!--<span ng-if="validate">Cells to validate: {{cellsToValidate}}</span><br/><br/>-->

<div data-op-filter data-options="filterOptions"></div>
<br />
<table data-ng-show="priceTypes.length > 0" data-op-table data-table="table"></table>

<div class="notification notification-warning" data-ng-show="priceTypes.length == 0">
    Sorry there are no results to display. Please broaden your filter parameters.
</div>
