<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	<connectionStrings xdt:Transform="Replace">
		<add name="DefaultConnection" connectionString="Server=tcp:pythia.database.windows.net,1433;Initial Catalog=PriceCare.Databases.Users;Persist Security Info=False;User ID=jhubeau;Password=vFPjkR1yAz@MT@D;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
		<add name="PriceCare" connectionString="Server=tcp:pythia.database.windows.net,1433;Initial Catalog=PriceCare.Databases.Central;Persist Security Info=False;User ID=jhubeau;Password=vFPjkR1yAz@MT@D;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
		<add name="PriceCareCentral" connectionString="metadata=res://*/PriceCareCentral.csdl|res://*/PriceCareCentral.ssdl|res://*/PriceCareCentral.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:pythia.database.windows.net,1433;initial catalog=PriceCare.Databases.Central;persist security info=True;User ID=jhubeau;Password=vFPjkR1yAz@MT@D;Trusted_Connection=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<add name="OracleSource" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=USLV-EXP1.amgen.com)(PORT=1771)))(CONNECT_DATA=(SERVICE_NAME=GCOODSP.AMGEN.COM)));USER ID=GCOODS_GPRM;Password=Welcome123" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="DefaultAccountLockoutTimeSpan" value="5" />
		<add key="MaxFailedAccessAttemptsBeforeLockout" value="5" />
		<add key="DefaultResetPasswordEmail" value="PC_ResetPasswordEmail" />
		<add key="DefaultInvitationEmail" value="PC_InvitationEmail" />
		<add key="DefaultAccountRequestEmail" value="PC_AccountRequestEmail" />
		<add key="DefaultEmailConfirmationEmail" value="PC_EmailConfirmationEmail" />
		<add key="ExcelUrlCurrenciesExport" value="http://pricecare-dev-as.azurewebsites.net/api/excel/currency" />
		<add key="ExcelUrlDataExport" value="http://pricecare-dev-as.azurewebsites.net/api/excel/data" />
		<add key="ExcelUrlListToSalesAssumptions" value="http://pricecare-dev-as.azurewebsites.net/api/excel/listToSales" />
		<add key="ExcelUrlPriceMapExport" value="http://pricecare-dev-as.azurewebsites.net/api/excel/priceMap" />
		<add key="ExcelUrlPriceTypeExport" value="http://pricecare-dev-as.azurewebsites.net/api/excel/priceType" />
		<add key="ExcelUrlSkuExport" value="http://pricecare-dev-as.azurewebsites.net/api/excel/sku" />
	</appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
