<header class="cleaner padding-bottom">
    <a class="button button-border button-green button-icon icon-save float-right" href="" ng-click="update()">Save</a>    
    <h1 class="h1-height-button">Admin: Informations</h1>
</header>


<h2>User settings</h2>

<div class="m-form m-form-display-2cols">
    <div class="m-form-row">
        <div class="m-form-row-label">
            Merck support contact person name:
        </div>
        <div class="m-form-row-content">
            <input type="text" ng-model="infos.amgenSupportContactName" />
        </div>
    </div>
    <div class="m-form-row">
        <div class="m-form-row-label">
            Merck support contact email:
        </div>
        <div class="m-form-row-content">
            <input type="text" ng-model="infos.amgenSupportContactEmail" />
        </div>
    </div>
    <div class="m-form-row">
        <div class="m-form-row-label">
            Technical support email (Pythia):
        </div>
        <div class="m-form-row-content">
            <input type="text" ng-model="infos.technicalSupportEmail" />
        </div>
    </div>
</div>
