/* 
    Created on : 26-septembre-2014, 11:40:21
    Author     : Ludovic Evrard (MyPixhell.com)
*/
/* Compass */
/* Tools */
/* Base */
/* font */
/* tool tips menu */
/* drop down */
/* table */
/* line 3, ../scss/themes/_base.scss */
html {
  font-family: "Open Sans", sans-serif;
}

/* line 7, ../scss/themes/_base.scss */
body {
  background-color: #fff;
  color: #37485b;
  font-size: 16px;
  overflow-x: hidden;
}

/* line 15, ../scss/themes/_base.scss */
h1 {
  color: #37485b;
}

/* line 19, ../scss/themes/_base.scss */
a {
  color: #37485b;
}

/* Color */
/* line 1, ../scss/themes/_color.scss */
.color-white {
  color: #fff;
}

/* Form */
/* line 2, ../scss/themes/_form.scss */
input[type=text], input[type=password], input[type=email], textarea {
  font-size: inherit;
  color: #37485b;
  background: #fff;
  border-color: #b3c5d1;
}

/* line 10, ../scss/themes/_form.scss */
input[type=text]:disabled, input[type=password]:disabled, input[type=email]:disabled, textarea:disabled {
  background: #f3f5fa;
}

/* line 14, ../scss/themes/_form.scss */
input.input-validation-error[type=text], input.input-validation-error[type=password], input.input-validation-error[type=email], textarea.input-validation-error {
  border-color: #e85858;
}

/* line 18, ../scss/themes/_form.scss */
.field-validation-error {
  color: #e85858;
}

/* line 22, ../scss/themes/_form.scss */
.input-unit-value {
  border-color: #b3c5d1;
  color: #37485b;
}

/* checkbox */
/* checkbox aspect */
/* line 5, ../scss/themes/_form-checkbox-radio.scss */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  border-color: #b3c5d1;
  background-color: #fff;
}

/* checked mark aspect */
/* line 11, ../scss/themes/_form-checkbox-radio.scss */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  color: #37485b;
}

/* disabled checkbox */
/* line 16, ../scss/themes/_form-checkbox-radio.scss */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  border-color: #a9a5a5;
  background-color: #dde5eb;
}

/* line 21, ../scss/themes/_form-checkbox-radio.scss */
[type="checkbox"]:disabled:checked + label:after {
  color: #a9a5a5;
}

/* line 24, ../scss/themes/_form-checkbox-radio.scss */
[type="checkbox"]:disabled + label {
  color: #37485b;
}

/* accessibility */
/* line 28, ../scss/themes/_form-checkbox-radio.scss */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border-color: #a9a5a5;
}

/* radio */
/* checkbox aspect */
/* line 35, ../scss/themes/_form-checkbox-radio.scss */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  border-color: #b3c5d1;
  background-color: #fff;
}

/* checked mark aspect */
/* line 41, ../scss/themes/_form-checkbox-radio.scss */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  background-color: #37485b;
}

/* disabled checkbox */
/* line 46, ../scss/themes/_form-checkbox-radio.scss */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  border-color: #a9a5a5;
  background-color: #dde5eb;
}

/* line 51, ../scss/themes/_form-checkbox-radio.scss */
[type="radio"]:disabled:checked + label:after {
  color: #a9a5a5;
}

/* line 54, ../scss/themes/_form-checkbox-radio.scss */
[type="radio"]:disabled + label {
  color: #37485b;
}

/* accessibility */
/* line 59, ../scss/themes/_form-checkbox-radio.scss */
[type="radio"]:checked:focus + label:before,
[type="radio"]:not(:checked):focus + label:before {
  border-color: #b3c5d1;
}

/* Table */
/* other way to fix table border with firefox */
/* line 2, ../scss/themes/_tables.scss */
table {
  width: 100%;
  border-spacing: 0px;
  position: relative;
  /*border-collapse: collapse;*/
  /* don't use we have bug with Firefox! */
}
/* line 9, ../scss/themes/_tables.scss */
table th, table td, table thead:first-child th, table th:first-of-type, table td:first-of-type, table tr:last-child td {
  border-color: #dde5eb;
}
/* line 13, ../scss/themes/_tables.scss */
table thead {
  background: #f4f5fa;
}
/* line 16, ../scss/themes/_tables.scss */
table thead th {
  /*background: get-contrast-color($color-grey-light, $dashboard-bg-hover-pourcent);*/
  color: #37485b;
}
/* line 22, ../scss/themes/_tables.scss */
table tbody tr {
  background: #fff;
}

/* line 27, ../scss/themes/_tables.scss */
.table-cell-title {
  font-weight: bold;
}

/* line 31, ../scss/themes/_tables.scss */
.table-row-title {
  background-color: #f4f5fa;
}

/* line 35, ../scss/themes/_tables.scss */
.table-help {
  color: #d4d5da;
  background: #fafbfd;
  border-color: #d4d5da;
}

/* color */
/* line 43, ../scss/themes/_tables.scss */
.table-bg-red1, .table-bg-red2, .table-bg-red3 {
  color: #fff;
}

/* line 47, ../scss/themes/_tables.scss */
.table-bg-red1 {
  background: #e7585a;
}

/* line 51, ../scss/themes/_tables.scss */
.table-bg-red2 {
  background: rgba(231, 88, 90, 0.8);
}

/* line 55, ../scss/themes/_tables.scss */
.table-bg-red3 {
  background: rgba(231, 88, 90, 0.6);
}

/* line 59, ../scss/themes/_tables.scss */
.table-bg-green1 {
  background: #2fcc71;
}

/* line 63, ../scss/themes/_tables.scss */
.table-bg-green2 {
  background: rgba(47, 204, 113, 0.8);
}

/* line 67, ../scss/themes/_tables.scss */
.table-bg-green3 {
  background: rgba(47, 204, 113, 0.6);
}

/* puce */
/* line 73, ../scss/themes/_tables.scss */
.table-puce-red1:before {
  background: #e7585a;
}

/* line 77, ../scss/themes/_tables.scss */
.table-puce-red2:before {
  background: rgba(231, 88, 90, 0.8);
}

/* line 81, ../scss/themes/_tables.scss */
.table-puce-red3:before {
  background: rgba(231, 88, 90, 0.6);
}

/* line 85, ../scss/themes/_tables.scss */
.table-puce-green1:before {
  background: #2fcc71;
}

/* line 89, ../scss/themes/_tables.scss */
.table-puce-green2:before {
  background: rgba(47, 204, 113, 0.8);
}

/* line 93, ../scss/themes/_tables.scss */
.table-puce-green3:before {
  background: rgba(47, 204, 113, 0.6);
}

/* Table poprow */
/* line 2, ../scss/themes/_m-table-poprow.scss */
.m-table-poprow thead {
  background-color: #f4f5fa;
}
/* line 5, ../scss/themes/_m-table-poprow.scss */
.m-table-poprow td, .m-table-poprow th,
.m-table-poprow .m-table-poprow-pop td:first-child, .m-table-poprow .m-table-poprow-pop td:last-child {
  border-color: #dde5eb;
}
/* line 10, ../scss/themes/_m-table-poprow.scss */
.m-table-poprow .table-row-title td:first-child, .m-table-poprow .table-row-title td:last-child {
  background-color: none;
}
/* line 15, ../scss/themes/_m-table-poprow.scss */
.m-table-poprow .table-row-title td:first-child, .m-table-poprow .table-row-title td:last-child {
  background-color: #fff;
}
/* line 21, ../scss/themes/_m-table-poprow.scss */
.m-table-poprow .table-row-title.m-table-poprow-pop td:first-child, .m-table-poprow .table-row-title.m-table-poprow-pop td:last-child {
  background-color: #f4f5fa;
}

/* Table pagination */
/* line 1, ../scss/themes/_m-table-pagination.scss */
.m-table-pagination {
  background-color: #f4f5fa;
}

/* line 5, ../scss/themes/_m-table-pagination.scss */
.m-table-pagination,
.m-table-pagination-before,
.m-table-pagination-after {
  border-color: #dde5eb;
}

/* Table load more */
/* line 1, ../scss/themes/_m-table-loadmore.scss */
.m-table-loadmore {
  background-color: #f4f5fa;
  border-color: #dde5eb;
}

/* Table load more */
/* line 1, ../scss/themes/_m-login.scss */
.m-login {
  border-color: #dde5eb;
  background: #f3f5fa;
}

/* line 6, ../scss/themes/_m-login.scss */
.m-login-description {
  border-color: #dde5eb;
}

/* buttons */
/* line 1, ../scss/themes/_buttons.scss */
.button {
  background: #37485b;
  color: #fff;
}

/* line 5, ../scss/themes/_buttons.scss */
.button-border {
  border-color: #2d3b4b;
}

/* line 8, ../scss/themes/_buttons.scss */
.button-border:before {
  background-color: #2d3b4b;
}

/* line 12, ../scss/themes/_buttons.scss */
.button-icon-only.button-icon:before {
  color: #fff;
}

/* color */
/* green */
/* line 19, ../scss/themes/_buttons.scss */
.button-green {
  background: #2fcc73;
}

/* line 22, ../scss/themes/_buttons.scss */
.button-green.button-border {
  border-color: #2ab767;
}

/* line 25, ../scss/themes/_buttons.scss */
.button-green.button-border:before {
  background-color: #2ab767;
}

/* line 28, ../scss/themes/_buttons.scss */
.button-icon-only.button-icon.button-green {
  color: #2fcc73;
}

/* color */
/* orange */
/* line 19, ../scss/themes/_buttons.scss */
.button-orange {
  background: orangered;
}

/* line 22, ../scss/themes/_buttons.scss */
.button-orange.button-border {
  border-color: orangered;
}

/* line 25, ../scss/themes/_buttons.scss */
.button-orange.button-border:before {
  background-color: orangered;
}

/* line 28, ../scss/themes/_buttons.scss */
.button-icon-only.button-icon.button-orange {
  color: orangered;
}

/* red */
/* line 33, ../scss/themes/_buttons.scss */
.button-red {
  background: #e85858;
}

/* line 36, ../scss/themes/_buttons.scss */
.button-red.button-border {
  border-color: #e54242;
}

/* line 39, ../scss/themes/_buttons.scss */
.button-red.button-border:before {
  background-color: #e54242;
}

/* line 42, ../scss/themes/_buttons.scss */
.button-icon-only.button-icon.button-red {
  color: #e85858;
}

/* blue */
/* line 47, ../scss/themes/_buttons.scss */
.button-blue {
  background: #2980b9;
}

/* line 50, ../scss/themes/_buttons.scss */
.button-blue.button-border {
  border-color: #2472a4;
}

/* line 53, ../scss/themes/_buttons.scss */
.button-blue.button-border:before {
  background-color: #2472a4;
}

/* line 56, ../scss/themes/_buttons.scss */
.button-icon-only.button-icon.button-blue {
  color: #2980b9;
}

/* disabled */
/* line 61, ../scss/themes/_buttons.scss */
.button-disabled {
  background: #d8dfe3 !important;
}

/* line 64, ../scss/themes/_buttons.scss */
.button-disabled.button-border {
  border-color: #c9d3d8 !important;
}

/* line 67, ../scss/themes/_buttons.scss */
.button-disabled.button-border:before {
  background-color: #c9d3d8 !important;
}

/* line 70, ../scss/themes/_buttons.scss */
.button-icon-only.button-icon.button-disabled {
  color: #c9d3d8;
}

/* layout */
/* Main */
/* line 1, ../scss/themes/_l-main.scss */
.l-main-logo {
  background-color: #40546a;
}

/* line 5, ../scss/themes/_l-main.scss */
.l-main-header-bar {
  background: #f3f5fa;
  color: #a9a5a5;
  border-color: #dde5eb;
}

/* line 12, ../scss/themes/_l-main.scss */
.l-main-header-welcom .icon {
  color: #a9a5a5;
}

/* line 17, ../scss/themes/_l-main.scss */
.l-main-header-nav a {
  color: #a9a5a5;
}

/* line 21, ../scss/themes/_l-main.scss */
.l-main-footer {
  background: #37485b;
  color: #fff;
}
/* line 25, ../scss/themes/_l-main.scss */
.l-main-footer a {
  color: #fff;
}

/* line 31, ../scss/themes/_l-main.scss */
.l-main-footer-menu li {
  border-color: #fff;
}

/* Navication */
/* line 1, ../scss/themes/_l-main-nav.scss */
.l-main-nav {
  background-color: #37485b;
}
/* line 4, ../scss/themes/_l-main-nav.scss */
.l-main-nav a {
  color: #fff;
}
/* line 8, ../scss/themes/_l-main-nav.scss */
.l-main-nav a:hover, .l-main-nav a.selected, .l-main-nav a.is-selected {
  background: #fff;
  color: #37485b;
}
/* line 13, ../scss/themes/_l-main-nav.scss */
.l-main-nav a:before, .l-main-nav .hasChildren a:after {
  /*background: #d01e1e;*/
  color: #fff;
}
/* line 18, ../scss/themes/_l-main-nav.scss */
.l-main-nav a:hover:before, .l-main-nav a.selected:before, .l-main-nav a.is-selected:before,
.l-main-nav .hasChildren > a:hover:after, .l-main-nav .hasChildren > a.selected:after, .l-main-nav .hasChildren > a.is-selected:after {
  color: #37485b;
}

/* module */
/* Notification */
/* line 1, ../scss/themes/_notifications.scss */
.notification {
  background: #f3f5fa;
  border-color: #dde5eb;
}

/* line 6, ../scss/themes/_notifications.scss */
.notification-alert {
  background: #2980b9;
  border-color: #409ad5;
  color: #fff;
}

/* line 12, ../scss/themes/_notifications.scss */
.notification-error {
  background: #e85858;
  border-color: #e22b2b;
  color: #fff;
}

/* line 18, ../scss/themes/_notifications.scss */
.notification-warning {
  background: #f27935;
  border-color: #e55c0f;
  color: #fff;
}

/* line 24, ../scss/themes/_notifications.scss */
.notification-success {
  background: #2fcc73;
  border-color: #25a35c;
  color: #fff;
}

/* line 29, ../scss/themes/_notifications.scss */
.notification-information {
  background: #37485b;
  border-color: #4a617b;
  color: #fff;
}
/* line 34, ../scss/themes/_notifications.scss */
.notification-information a {
  color: #fff;
}

/* Filter control */
/* line 1, ../scss/themes/_m-filter-control.scss */
.m-filter-control {
  background: #f3f5fa;
}

/* line 5, ../scss/themes/_m-filter-control.scss */
.m-filter-control-header {
  background: #37485b;
  color: #fff;
}

/* line 10, ../scss/themes/_m-filter-control.scss */
.m-filter-control-header-options {
  background: #2d3b4b;
}

/* line 14, ../scss/themes/_m-filter-control.scss */
.m-filter-control-displayoptions {
  background: #2d3b4b;
  color: #fff;
}

/* line 19, ../scss/themes/_m-filter-control.scss */
.m-filter-control-content {
  border-color: #dde5eb;
}

/* Custom select */
/* line 1, ../scss/themes/_m-custom-select.scss */
.m-custom-select-dropdown-container {
  background: #fff;
  color: #37485b;
  border: 1px #dde5eb solid;
  -moz-box-shadow: 1px 1px 12px rgba(55, 72, 91, 0.1);
  -webkit-box-shadow: 1px 1px 12px rgba(55, 72, 91, 0.1);
  box-shadow: 1px 1px 12px rgba(55, 72, 91, 0.1);
}
/* line 8, ../scss/themes/_m-custom-select.scss */
.m-custom-select-dropdown-container li:hover, .m-custom-select-dropdown-container li.is-selected {
  background-color: #d8dfe3;
}

/* line 13, ../scss/themes/_m-custom-select.scss */
.m-custom-select-dropdown-container-arrow {
  /*background: url('../images/design/dropdown-top-arrow.png');*/
  color: #fff;
}

/* line 18, ../scss/themes/_m-custom-select.scss */
.m-custom-select-dropdown-quickswitch {
  border-color: #fff;
}

/* Boxed */
/* line 24, ../scss/themes/_m-custom-select.scss */
.t-custom-select-boxed .m-custom-select-dropdown-quickswitch, .t-custom-select-boxed-small .m-custom-select-dropdown-quickswitch {
  border-color: #b3c5d1;
}
/* line 27, ../scss/themes/_m-custom-select.scss */
.t-custom-select-boxed .m-custom-select-dropdown-quickswitch span, .t-custom-select-boxed-small .m-custom-select-dropdown-quickswitch span {
  border-color: #b3c5d1;
  color: #b3c5d1;
  background: #f5f6f8;
}
/* line 34, ../scss/themes/_m-custom-select.scss */
.t-custom-select-boxed .m-custom-select-dropdown-quickswitch span.is-selected, .t-custom-select-boxed-small .m-custom-select-dropdown-quickswitch span.is-selected {
  color: #37485b;
  background: #fff;
}

/* line 42, ../scss/themes/_m-custom-select.scss */
.t-custom-select-boxed .m-custom-select-dropdown, .t-custom-select-boxed-small .m-custom-select-dropdown {
  color: #37485b;
  background: #fff;
  border-color: #b3c5d1;
}
/* line 49, ../scss/themes/_m-custom-select.scss */
.t-custom-select-boxed .m-custom-select-dropdown:after, .t-custom-select-boxed-small .m-custom-select-dropdown:after {
  border-color: #b3c5d1;
}

/* line 54, ../scss/themes/_m-custom-select.scss */
.m-custom-select-dropdown-big {
  background: #f3f5fa;
  color: #37485b;
  border: 1px #dde5eb solid;
  -moz-box-shadow: 1px 1px 12px rgba(55, 72, 91, 0.1);
  -webkit-box-shadow: 1px 1px 12px rgba(55, 72, 91, 0.1);
  box-shadow: 1px 1px 12px rgba(55, 72, 91, 0.1);
}

/* line 62, ../scss/themes/_m-custom-select.scss */
.m-custom-select-dropdown-big-arrow {
  font-size: 2em;
}

/* line 66, ../scss/themes/_m-custom-select.scss */
.m-custom-select-dropdown-big-arrow:before {
  color: #f3f5fa;
  text-shadow: 0px -1px 0px #dde5eb;
}

/* tooltip menu */
/* line 1, ../scss/themes/_m-tooltip-menu.scss */
.m-tooltip-menu {
  background: #37485b;
  color: #fff;
}
/* line 5, ../scss/themes/_m-tooltip-menu.scss */
.m-tooltip-menu > header h2 {
  font-size: 1em;
}
/* line 9, ../scss/themes/_m-tooltip-menu.scss */
.m-tooltip-menu h1 {
  color: #fff;
}
/* line 13, ../scss/themes/_m-tooltip-menu.scss */
.m-tooltip-menu > h1, .m-tooltip-menu > h2 {
  margin: 0.5em 0;
}
/* line 17, ../scss/themes/_m-tooltip-menu.scss */
.m-tooltip-menu a {
  color: #fff;
}

/* line 22, ../scss/themes/_m-tooltip-menu.scss */
.m-tooltip-menu-arrow {
  color: #37485b;
}

/* line 26, ../scss/themes/_m-tooltip-menu.scss */
.m-tooltip-menu-bg-orange {
  background: #f27835;
}

/* line 29, ../scss/themes/_m-tooltip-menu.scss */
.m-tooltip-menu-bg-orange .m-tooltip-menu-arrow {
  color: #f27835;
}

/* Rules */
/* line 1, ../scss/themes/_m-rules.scss */
.m-rules, .m-rules tr {
  background: #f3f5fa;
}

/* line 5, ../scss/themes/_m-rules.scss */
.m-rules-help {
  color: #fff;
  background: #d4d5da;
}

/* line 10, ../scss/themes/_m-rules.scss */
.m-rules li, .m-rules ul:last-child li {
  border-color: #dde5eb;
}

/* modal */
/* line 1, ../scss/themes/_modal.scss */
.modal-body-text {
  border-color: #b3c5d1;
}

/* status table */
/* line 1, ../scss/themes/_m-table-status.scss */
.table-status {
  background: #f3f5fa;
}
/* line 4, ../scss/themes/_m-table-status.scss */
.table-status tr {
  background: #f3f5fa;
}

/* line 9, ../scss/themes/_m-table-status.scss */
.m-table-status-loading:before {
  background: #a9a5a5;
}

/* line 13, ../scss/themes/_m-table-status.scss */
.m-table-status-validated:before {
  background: #2fcc73;
}

/* line 17, ../scss/themes/_m-table-status.scss */
.m-table-status-not-validated:before {
  background: #f27935;
}

/* line 21, ../scss/themes/_m-table-status.scss */
.m-table-status-error:before {
  background: #e85858;
}

/* line 25, ../scss/themes/_m-table-status.scss */
.m-table-status-help {
  color: #fff;
  background: #d4d5da;
}

/* tooltip */
/* line 1, ../scss/themes/_tooltips.scss */
.tooltip:hover:after {
  border: 1px #fff solid;
  color: #fff;
  background: #37485b;
}

/* number circle */
/* line 1, ../scss/themes/_m-number-circle.scss */
.m-number-circle {
  background: #d8dfe3;
  color: #fff;
}

/* line 6, ../scss/themes/_m-number-circle.scss */
.m-number-circle.color-green {
  background: #2fcc73;
}
